@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
   <div class="card" style="width: 18rem;">
  <img src="pierogi.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Makaron ze szpinakiem</h5>
 
    <a href="#" class="btn btn-primary">Wyświetl stronę dania.</a>
  </div>

  <ul class="pagination">
    <li class="page-item"><a class="page-link" sp-controller="Menu" asp-action="Index2">Previous</a></li>
    <li class="page-item"><a class="page-link" sp-controller="Menu" asp-action="Index">1</a></li>
    <li class="page-item"><a class="page-link" sp-controller="Menu" asp-action="Index2">2</a></li>
    <li class="page-item"><a class="page-link" sp-controller="Menu" asp-action="Index3">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

</div>
