@{
    ViewData["Title"] = "Rules";
}

<div class="text-center">
    <h1 class="display-4" >Regulamin</h1>
    <ol class="list-group-numbered">
        <li class="list-group-item" style="background:linear-gradient(yellow 50%,yellowgreen);">Postanowienia ogólne</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Usługodawca zoobowiązuje się do świadczenia usług na rzecz Klienta w zakresie ustalonym w niniejszym regulaminie.</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Klient może kontaktować się z Usługodawcą za pośrednictwem adresu email i telefonu.</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Niniejszy regulamin jest nieprzerwanie dostępny w Internecie.</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Usługodawca informuje, że korzystanie usługi może wiązać się z zagrożeniami. W związku z tym, Klient powinien posiadać antywirusa i zaporę sieciową.</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Usługobiorca musi  posługiwać się serwisem w sposób niezkłócający jego funkcjonowania i zgodny z prawem.</li>
   <li class="list-group-item" style="background:linear-gradient(yellow 50%,yellowgreen);">Składanie zamówień</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Składanie zamówień na wynos wymaga bycia zarejestrowanym oraz podania adresu i numeru telefonu.</li>
  <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Podczas rejestracji wymagany jest adres e-mail.</li>
   <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Rezygnacja z zamówienia może nastapić do 48 godzin od jego złożenia.</li>
    <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Dostawa jest realizowana wyłącznie w czasie ustalonym przez Klienta i Usługodawcę.</li>
     <li class="list-group-item" style="background:linear-gradient(white 50%,lightgreen);">Klientowi przysługuje prawo do reklamacji.</li>
</ol>
    
</div>
